// * ********************************************************************************************************* *
// *
// * Copyright (c) 2015-2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoOidisStudioGuiPanels} {
  .InstallerInitialScreenPanel {
    height: 600px;
    padding: 15px;
    width: 800px;

    .Label,
    .TextField,
    .FormInput {
      clear: both;
      padding-bottom: 5px;
    }

    .Header {
      font-size: 25px;
      font-weight: bold;
    }

    .Progress {
      clear: both;
      height: 150px;
      width: 800px;

      .ProgressBar {
        clear: both;
      }
    }

    .Button {
      clear: both;
      margin-bottom: 10px;

      .Splitter {
        display: none;
      }
    }

    .Logo {
      background: $IO_OIDIS_COMMONS_WUI_LOGO no-repeat;
      clear: both;
      margin: auto;
      top: 30px;
    }
  }
}
