// * ********************************************************************************************************* *
// *
// * Copyright (c) 2015-2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoOidisStudioGuiPanels} {
  .DesignerIndexPanel {
    height: 600px;
    width: 1200px;

    .TextField,
    .Label,
    .DropDownList {
      clear: both;
      padding-bottom: 5px;
    }

    .Button .Splitter {
      display: none;
    }

    .WideButton {
      clear: both;
      position: relative;
      top: 10px;
    }
  }
}
