// * ********************************************************************************************************* *
// *
// * Copyright (c) 2015-2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoOidisStudioGuiPanels} {
  .DesignerComponentPickerPanel {
    height: 600px;
    width: 1200px;

    .ItemHolder,
    .Active {
      .AbstractGuiObject {
        height: 1px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .ItemHolder .AbstractGuiObject:hover {
      @include setOpacity(10);
      background-color: $IO_OIDIS_RED;
    }

    .Active .AbstractGuiObject {
      @include setOpacity(30);
      background-color: $IO_OIDIS_GREEN;
    }
  }
}
