// * ********************************************************************************************************* *
// *
// * Copyright (c) 2015-2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoOidisStudioGuiPanels} {
  .DesignerHeaderPanel {
    height: 40px;
    padding-bottom: 10px;

    .Button {
      .Right {
        margin-right: 15px;
      }

      .Splitter {
        display: none;
      }

      .Text {
        padding-left: 15px;
      }
    }

    .Layers {
      float: right;
      left: -20px;
      width: 350px;
    }

    .Zoom {
      float: right;
      left: -20px;
      top: 10px;
      width: 350px;

      .NumberPicker {
        left: 15px;
        position: relative;
        top: 3px;
      }
    }
  }
}
