// * ********************************************************************************************************* *
// *
// * Copyright (c) 2015-2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoOidisStudioGuiPanels} {
  .DesignerPanel {
    height: 768px;
    padding-top: 20px;

    .ContentLoader .Icons {
      position: absolute;
      z-index: 1000;
    }

    .Buttons {
      height: 50px;
      margin: auto;
      overflow-x: hidden;
      overflow-y: hidden;
      width: 515px;

      .Back,
      .Save {
        .Splitter {
          display: none;
        }
      }

      .Save .Button {
        left: 15px;
        position: relative;
      }
    }

    .Tools {
      clear: both;

      .ItemManagers {
        display: none;
        left: 330px;
        position: absolute;
        top: 50px;

        .CropBox {
          position: absolute;
        }

        [guiType="CropBox"] > {
          .Top,
          .Middle > .Left,
          .Middle > .Right,
          .Bottom {
            @include setOpacity(10);
          }

          .Middle > .Center > {
            .Top,
            .Bottom {
              > {
                .Left,
                .Center,
                .Right {
                  height: 3px;
                }
              }
            }

            .Top,
            .Middle,
            .Bottom {
              > {
                .Left,
                .Right {
                  width: 3px;
                }
              }
            }

            .Top > .Left,
            .Top > .Center,
            .Top > .Right,
            .Middle > .Left,
            .Middle > .Right,
            .Bottom > .Left,
            .Bottom > .Center,
            .Bottom > .Right {
              background-color: $IO_OIDIS_RED;
            }
          }
        }

        .DragBar {
          position: absolute;
          z-index: 1000;

          &:hover {
            @include setOpacity(30);
            background-color: $IO_OIDIS_RED;
          }
        }
      }
    }

    iframe {
      border-width: 0;
      float: left;
      height: 600px;
      width: 1200px;
    }

    .DesignerComponentPickerPanel {
      position: absolute;
    }

    .DesignerConsolePanel {
      position: absolute;
    }

    .DesignerPropertiesPanel {
      margin-left: 30px;
    }
  }
}
