// * ********************************************************************************************************* *
// *
// * Copyright (c) 2015-2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoOidisStudioGuiPanels} {
  .DesignerConsolePanel {
    background-color: $IO_OIDIS_BLACK;
    height: 600px;

    .Label {
      color: $IO_OIDIS_WHITE;
      font-family: Consolas, serif;
      font-size: 10px;
      padding: 10px;
    }
  }
}
