// * ********************************************************************************************************* *
// *
// * Copyright (c) 2015-2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoOidisStudioGuiPanels} {
  .DesignerComponentsPanel {
    height: 768px;
    width: 330px;

    .DropDownList {
      clear: both;
      padding-bottom: 5px;
    }

    .Button {
      .Splitter {
        display: none;
      }
    }

    .DragBar {
      height: 30px;
      position: fixed;
      width: 298px;

      &:hover {
        @include setOpacity(40);
        background-color: $IO_OIDIS_RED;
        border: 1px dotted $IO_OIDIS_BLACK;
      }
    }

    .Items,
    .ManageButtons {
      clear: both;

      .Button {
        clear: both;
        height: 35px;
      }
    }

    .Items {
      height: 500px;
      margin-bottom: 15px;
      overflow: auto;

      .Panels,
      .Components,
      .UserControls {
        padding-bottom: 10px;
      }
    }

    .ManageButtons {
      height: 80px;
    }
  }
}
