// * ********************************************************************************************************* *
// *
// * Copyright (c) 2015-2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoOidisStudioGuiPanels} {
  .DashboardPanel {
    background-color: $IO_OIDIS_STUDIO_GRAY_LIGHT;
    height: 500px;
    width: 850px;

    .Header {
      height: 40px;

      .ImageButton {
        margin-left: 25px;
        position: relative;
        top: 20px;
      }

      .Label {
        color: $IO_OIDIS_STUDIO_GRAY;
        font-size: 20px;
        padding-left: 20px;
        position: relative;
        top: 20px;
      }

      .Splitter {
        border-bottom: 1px solid $IO_OIDIS_STUDIO_GRAY_MEDIUM_LIGHT;
        clear: both;
        height: 35px;
        margin: auto;
        width: 780px;
      }
    }

    .Logo {
      background: $IO_OIDIS_STUDIO_GUI_BASE_INTERFACE_PANELS_DASHBOARD_LOGO no-repeat;
      clear: both;
      height: 337px;
      margin: auto;
      width: 473px;
    }

    .Buttons {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 90px;

      .Toolchain {
        float: right;
      }
    }

    .LocalhostInfoPanel,
    .ToolchainInfoPanel,
    .ProjectsManagerPanel {
      left: 25px;
      position: relative;
      top: 40px;
    }
  }
}
