// * ********************************************************************************************************* *
// *
// * Copyright (c) 2015-2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoOidisStudioGuiPanels} {
  .LocalhostInfoPanel {
    height: 400px;
    width: 800px;

    .Button .Splitter {
      display: none;
    }

    .Label,
    .TextField,
    .DropDownList,
    .FormInput {
      clear: both;
      padding-bottom: 5px;
    }
  }
}
