// * ********************************************************************************************************* *
// *
// * Copyright (c) 2015-2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoOidisStudioGuiPanels} {
  .ProjectsManagerPanel {
    height: 400px;
    width: 800px;

    .Label,
    .TextField,
    .DropDownList,
    .FormInput {
      clear: both;
      padding-bottom: 5px;
    }

    .ConsoleEnvelop {
      left: 10px;
      position: absolute;
      top: 10px;

      .Console {
        background-color: $IO_OIDIS_GRAY_LIGHT;
        border: 1px solid $IO_OIDIS_BLUE;
        box-shadow: 0 0 4px 0 $IO_OIDIS_GRAY;
        font-family: Consolas, serif;
        height: 360px;
        padding: 10px;
        width: 760px;
      }
    }
  }
}
