// * ********************************************************************************************************* *
// *
// * Copyright (c) 2015-2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../../sourceFilesMap";

.#{$IoOidisStudioGuiPanels} {
  .ToolchainInfoPanel {
    height: 500px;
    width: 800px;

    .Button .Splitter {
      display: none;
    }

    .Label,
    .Info {
      clear: both;
      margin-bottom: 5px;
    }

    .Info {
      background-color: $IO_OIDIS_GRAY_LIGHT;
      width: 800px;
    }

    hr {
      background: $IO_OIDIS_GRAY;
      border: 0;
      border-bottom: 1px dashed $IO_OIDIS_GRAY_LIGHT;
    }
  }
}
