// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoOidisStudioUserControlsBaseInterfaceUserControls} {
  [guiType="Button"] {
    > .Background {
      > .Center > .Envelop {
        height: 40px;
        left: -20px;
        width: 30px;

        > .Content {
          height: 40px;
        }
      }

      .Left,
      .Right {
        width: 20px;
      }

      .Left,
      .Center,
      .Right {
        height: 40px;
      }
    }
  }

  .Button {
    .Splitter + .Text {
      color: $IO_OIDIS_BLACK;
      font-size: 18px;
      margin-left: 10px;
      margin-right: 10px;
      top: 8px;
    }

    .Disable {
      .Splitter + .Text {
        color: $IO_OIDIS_GRAY;
      }

      .Background {
        .Left,
        .Right,
        .Center {
          background-color: $IO_OIDIS_GRAY_MEDIUM_LIGHT;
        }
      }
    }

    .GrayMedium {
      .Off,
      .On,
      .Active,
      .Disable {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: transparent;
            border-bottom: 1px solid $IO_OIDIS_BLACK;
            border-top: 1px solid $IO_OIDIS_BLACK;
          }

          .Left {
            border-bottom-left-radius: 20px;
            border-left: 1px solid $IO_OIDIS_BLACK;
            border-top-left-radius: 20px;
          }

          .Right {
            border-bottom-right-radius: 20px;
            border-right: 1px solid $IO_OIDIS_BLACK;
            border-top-right-radius: 20px;
          }
        }
      }

      .On,
      .Active {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_OIDIS_STUDIO_GRAY_MEDIUM;
          }
        }
      }

      .Disable {
        .Background {
          .Left,
          .Right,
          .Center {
            background-color: $IO_OIDIS_GRAY_MEDIUM_LIGHT;
          }
        }
      }
    }
  }
}
