// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoOidisStudioUserControlsBaseInterfaceUserControls} {
  .Minus .Icon {
    background: $IO_OIDIS_STUDIO_USERCONTROLS_ICON_MINUS no-repeat;
    height: 4px;
    width: 17px;
  }

  .Cross .Icon {
    background: $IO_OIDIS_STUDIO_USERCONTROLS_ICON_CROSS no-repeat;
    height: 17px;
    width: 17px;
  }

  .ArrowLeft .Icon {
    background: $IO_OIDIS_STUDIO_USERCONTROLS_ICON_ARROW_LEFT no-repeat;
    height: 19px;
    width: 11px;
  }

  .ArrowDown .Icon {
    background: $IO_OIDIS_STUDIO_USERCONTROLS_ICON_ARROW_DOWN no-repeat;
    height: 11px;
    width: 17px;
  }
}
