// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$IoOidisStudioUserControlsBaseInterfaceUserControls} {
  .ImageButton {
    .Round {
      .Off,
      .On,
      .Active,
      .Disable {
        border: 2px solid $IO_OIDIS_STUDIO_ORANGE;
        border-radius: 20px;
        height: 25px;
        width: 25px;
      }

      .On,
      .Active {
        background-color: $IO_OIDIS_STUDIO_ORANGE_MEDIUM_LIGHT;
      }

      .Active {
        border-color: $IO_OIDIS_BLACK;
      }

      .Minus .Icon {
        left: 4px;
        top: 14px;
      }

      .Cross .Icon {
        left: 4px;
        top: 4px;
      }

      .ArrowLeft .Icon {
        left: 6px;
        top: 3px;
      }
    }
  }
}
