// * ********************************************************************************************************* *
// *
// * Copyright (c) 2015-2017 Jakub Cieslar
// * Copyright (c) 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "sourceFilesMap";

[guiType="PageContent"] {
  // sass-lint:disable-block no-important
  padding-top: 0 !important;
}

body {
  height: 500px;
  overflow: hidden;
  width: 850px;

  > .WUIJRE {
    background-color: $IO_OIDIS_STUDIO_GRAY_LIGHT;
    border: 1px solid $IO_OIDIS_BLACK;
    height: 502px;
    left: 0;
    top: 0;
    width: 852px;
  }

  > .FOCUS {
    border: 1px solid $IO_OIDIS_STUDIO_ORANGE;
    box-shadow: none;

    .#{$IoOidisServicesNamespace}BasePageController {
      .AppDragBar {
        background-color: transparent;
      }
    }
  }
}

.#{$IoOidisServicesNamespace}BasePageController {
  .AppDragBar {
    cursor: default;
    height: 24px;
    right: 0;
    width: 852px;
  }

  .AppButtons {
    top: 20px;
    width: 85px;

    .AppMinimize {
      left: -10px;
    }
  }
}
